@model List<CourseManagement.Models.Course>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddStudent</title>
</head>
<body>
    <div class="container">
        <center>
            <div class="table-responsive" style="margin-top:150px">
                <form action="/Teacher/AddStudent" method="post">
                    <table class="table table-hover">
                        <tr>
                            <td>Name</td>
                            <td>
                                <input type="text" name="Name" value="" required />
                            </td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>
                                <input type="text" name="Email" value="" required />
                            </td>
                        </tr>
                        <tr>
                            <td>Password</td>
                            <td>
                                <input type="text" name="Password" value="" required />
                            </td>
                        </tr>
                        <tr>
                            <td>Mobile</td>
                            <td>
                                <input type="text" name="Mobile" value="" required />
                            </td>
                        </tr>
                        <tr>
                            <td>Role</td>
                            <td>
                                <select class="select" name="Role" multiple style="width:300px">
                                    <option name="Role" value="STUDENT">STUDENT</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Course</td>
                            <td>
                                <select class="select" name="CourseName" multiple style="width:300px">
                                    @foreach (var c in Model)
                                    {
                                        <option name="CourseName" value="@c.Name">@c.Name</option>
                                    }
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <input type="submit" name="Add" value="Add" />
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </center>
    </div>
</body>
</html>
